/* <!--
1. Прикажете го вашето име и презиме со помош на <p> тагот. Бојата и големината на 
фонтот треба да бидат различни за мобилен, таблет и десктоп екрани. Доколку се 
прикажат името и презимето на мобилен, бојата треба да биде жолта а фонтот да 
изнесува 13 пиксели. Доколку се прикажат на таблет, бојата треба да се смени 
во зелена додека пак фонтот да се зголеми за 5 пиксели плус. За десктоп екраните, 
бојата е потребно да биде црвена а фонтот да изнесува 22 пиксели.
Да се претпостави дека мобилните екрани имаат максимална ширина од 767 пиксели, 
таблет екраните имаат ширина помеѓу 768 и 991 пиксел, додека пак од 992 пиксели па нагоре, 
станува збор за десктоп екрани.-->

/* за мобилни екрани */
@media screen and (max-width: 767px) {
    .name {
    font-size: 13px;
    color: yellow;
  }
}
  
  /* за таблет екрани, 13px + 5px = 18px */ 
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .name {
      font-size: 18px; /* 13 + 5 */
      color: green;
    }
  }
  
  /* за декстоп екрани */
  @media screen and (min-width: 992px) {
    .name {
      font-size: 22px;
      color: red;
    }
  }
  